@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 17% 95%;
    --foreground: 220 9% 23%;
    --card: 0 0% 100%;
    --card-foreground: 220 9% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 23%;
    --primary: 262 52% 47%;
    --primary-foreground: 262 100% 97%;
    --secondary: 225 17% 90%;
    --secondary-foreground: 220 9% 23%;
    --muted: 225 17% 85%;
    --muted-foreground: 225 7% 45%;
    --accent: 262 100% 88%;
    --accent-foreground: 262 52% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 262 52% 47%;
    --chart-1: 262 52% 47%;
    --chart-2: 262 80% 70%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 80% 70%;
    --primary-foreground: 262 52% 15%;
    --secondary: 240 6% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 262 52% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 262 80% 70%;
    --chart-1: 262 80% 70%;
    --chart-2: 262 52% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
